/* Navbar section */
html {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  background: #fbfbfb;
  color: #494a4a;
}

a {
  text-decoration: none !important;
  color: #000;
}

.section-title {
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
}

.mt-6 {
  margin-top: 6rem !important;
}

.brtb-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* ---------------------- Navbar ------------------------ */
.navbar {
  box-shadow: -6px -5px 10px 2px rgb(0 0 0 / 46%);
  -webkit-box-shadow: -6px -5px 10px 2px rgb(0 0 0 / 46%);
  -moz-box-shadow: -6px -5px 10px 2px rgb(0 0 0 / 46%);
}

.navbar .ul-left a {
  color: #000;
  font-size: 13px;
  font-weight: 400;
}

.navbar-brand {
  margin-right: 0;
  width: 13%;
  margin-right: 15px;
}

.nav-right {
  display: flex!important;
  font-weight: 600;
}

.nav-right a {
  color: #000;
  margin-right: 1.3rem;
}

.nav-right .ag-lang a {
  margin-right: 0;
}

.nav-right .ag-lang .active {
  color: #ea9a3f;
}

.bgcover-header {
  background-image: url('https://www.kiostix.com/images/banner.jpg?d6029379ec2b552acd9bc09ddb02642a');
  margin-top: 4rem;
  color: #fff;
  text-align: center;
}

.searchBox {
  background: #fff;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  padding-top: 0;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.searchButton {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color : #2f3640;
  background: white;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  color: #2f3640;
  font-size: 16px;
  line-height: 40px;
  padding: 0 6px;
  width: 87%;
}
/* ---------------------- Navbar - END ------------------------ */

/* Section Kota */
.section-kota .card {
  border-radius: 10px;
}

.section-kota .card-title {
  font-weight: 600;
  color: #000;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Section Kota - END */

/* CSS Katalog */
.section-catalog a {
  color: #000;
}

.section-catalog a:hover {
  text-decoration: none;
}

.see-more {
  display: inline-grid;
  align-items: center;
  color: #0049cc !important;
  background: #ebf5ff;
  border-radius: 30px;
  padding: 0 23px;
  font-weight: 500;
}

.see-more i {
  font-size: 13px;
  margin-left: 0.3rem;
}

.ticket-ready {
  color: #0ccd0c;
  font-size: 13px;
  display: inline-grid;
  align-items: center;
}

.ticket-sold {
  color: #f52d2d;
  font-size: 13px;
  display: inline-grid;
  align-items: center;
}

.harga-katalog {
  color: #000000ba;
  margin-bottom: 0;
  font-size: 20px;
}

.judul-katalog {
  font-size: 17px;
  line-height: 1.5rem;
}

.lokasi-katalog {
  margin-bottom: 0;
}

.tanggal-katalog {
  font-size: 13.5px;
}
/* CSS Katalog - END */

/* Section Join US */
.section-join-us h1 {
  font-size: 50px;
}

.section-join-us p {
  font-size: 23px;
}

.btn-join-us {
  color: #fff;
  background-color: #6351ce;
  border-color: #6351ce;
  padding: 10px 20px;
  border-radius: 100px;
}
/* Section Join US - END */

/* Section Blog */
.section-blog .card-title {
  font-size: 15px;
  line-height: 1.3rem;
  font-weight: 600;
}

.section-blog .card-text {
  font-size: 13px;
}
/* Section Blog - End */

/* Section Member */
.section-member img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  object-position: right;
}

.section-member p {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0;
}

.section-member span {
  font-size: 13px;
}

.obj-bottom {
  object-position: bottom !important;
}
/* Section Member - END */

/* Detail */
.breadcrumb {
  background: #fbfbfb;
  font-size: 13px;
  margin-bottom: 7px;
  padding-left: 7px;
}

.breadcrumb .active {
  font-weight: 600;
}

.img-detail img {
  width: auto;
  height: 239px;
  object-fit: cover;
}

.tag-detail .tag {
    background: #efefef;
    padding: 6px 11px;
    border-radius: 11px;
    font-size: 15px;
    margin-right: 1rem;
    margin-top: 1rem;
}

.judul-katalog-detail {
  font-size: 14px;
  line-height: 1.3rem;
  margin-bottom: 10px;
}

.tanggal-katalog-detail {
  color: #8e919b;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.harga-katalog-detail {
  font-weight: 600;
}

.section-right .card {
  box-shadow: 0 4px 8px rgb(30 44 106 / 10%);
  border: none;
  border-radius: 23px;
  padding: 9px;
}

.section-right .event-date > i,
.section-right .time-date > i,
.section-right .location-date > i {
  color: #0049cc;
  margin-right: 0.5rem;
  font-size: 15px;
}

.section-right .event-date > label,
.section-right .time-date > label,
.section-right .location-date > label {
  font-size: 15px;
}

.img-penyelenggara {
  width: 5rem;
}

.img-penyelenggara > img {
  width: 4rem;
}

.text-penyelenggara > span {
  color: #8e919b;
  font-size: 13px;
}

.text-penyelenggara > p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 18px;
}

.detail-amount {
  margin-top: 1rem;
  font-size: 17px;
}

.txt-cart .cart-item-name,
.detail-amount .tiket {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.detail-amount .harga {
  font-weight: 700;
}

.ticket-controller {
  display: grid;
  grid-template-columns: .2fr 48px .2fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ticket-controller-decrease, .ticket-controller-increase {
  width: 24px;
  height: 24px;
  position: relative;
  border: 2px solid #0049cc;
  border-radius: 50%;
  color: #0049cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.ticket-controller-label {
    color: #151416;
    font-size: 1rem;
    text-align: center;
    border: none;
    background-color: transparent;
    pointer-events: none;
}

.ticket-controller-decrease:after {
  content: "-";
  display: block;
}

.ticket-controller-increase:after {
  content: "+";
  display: block;
}

.btn-beli-tiket {
  background: #0049cc;
  color: #fff;
  margin-top: 1rem;
  padding: 0.7rem 1rem;
  font-weight: 600; 
}
/* Detail - END */

/* Checkout */
.detail-pemesan .icon-dtl-pemesan {
  border: 1px solid #dee2ee;
  border-radius: 100%;
  padding: 5px 9px;
  font-size: 15px;
  margin-right: .5rem;
}

.detail-pemesan h5 {
  font-weight: 600;
}

.checkout-form label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 3px;
}

.checkout-form .txt-danger {
  color: red;
}

.payment-category .col-md-4 {
  padding-right: 0;
}

.payment-methods .single-payment-method {
  margin-bottom: 20px
}


.payment-methods .single-payment-method a > img {
  margin-bottom: 5px;
}

.payment-methods .single-payment-method a {
  display: block;
  border: 1px solid #f5f5f5;
  padding: 27px 10px 19px;
  text-align: center;
  background: #f5f6f9;
  text-decoration: none;
}

.payment-methods .single-payment-method a p {
  color: #555;
  margin-top: 10px;
  margin-bottom: auto;
}

.submit-concert p {
  margin-top: 2rem;
  color: #555;
  font-size: 14.5px;
  font-weight: 500;
}

.submit-concert p > a {
  font-weight: 600;
  color: #0064d2;
}

.header-detail-pemesanan img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
}

.header-detail-pemesanan h6 {
  font-weight: 600;
  font-size: 14px;
}

.checkout-right p {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5px;
}

.checkout-right span {
  color: #555;
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
}

.checkout-right .txt-total {
  font-weight: 600;
  font-size: 13px;
}

.checkout-right .pembayaran {
  font-size: 22px;
  color: #0064db;
  font-weight: 700;

}
/* Checkout - END */

/* Checkout Success */
.checkout-success h4 {
  font-weight: 600;
  margin-top: 1rem;
}

.checkout-success h5 {
  color: #FF7A00;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.checkout-success p {
  font-size: 13px;
  margin-bottom: 0;
}

.checkout-success h6 {
  font-weight: 600;
  margin-top: 0.5rem;
}

.body-va span {
  font-size: 11px;
  font-weight: 500;
}

.body-va p {
  font-size: 16px;
  font-weight: 600;
}

.body-va a {
  color: #19b419;
  font-weight: 600;
  font-size: 12px;
}
/* Checkout Success - END */

/* Footer */
footer .subscribe h6 {
  font-weight: 600;
}

footer b {
  font-weight: 600 !important;
}

footer .subscribe p {
  font-size: 13px;
}

footer .subscribe .input-group input {
  border-right: none;
}

footer .subscribe .input-group span {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #ffff;
}
/* Footer - END */